<!-- <div >
  <button type="button" class="btn btn-warning mybtn word-search1">Export xls</button>
  <button type="button" class="btn btn-warning mybtn word-search1">Export CSV</button>
</div> -->
<div class="format-1">
  <button type="button" class="btn btn-warning mybtn word-search1" style="float: right; margin-left: .5cm;">Export xls</button>
  <button type="button" class="btn btn-warning mybtn word-search1" style="float: right;">Export CSV</button>
  <br><br>
  <table class="table table-bordered word-search1">
    <thead style="background-color: aliceblue;">
      <tr>
        <!-- head 1 -->
        <th scope="col">Date</th>
        <!-- head 2 -->
        <th scope="col">Time</th>
        <!-- head 3 -->
        <th scope="col">Pallet</th>
        <!-- head 4 -->
        <th scope="col">Status</th>
        <!-- head 5 -->
        <th scope="col">Qty</th>
        <!-- head 6 -->
        <th scope="col">Remark</th>
        <!-- head 7 -->
        <th scope="col">Log by</th>
      </tr>
    </thead>
    <tbody>
      <!-- body row1 -->
      <tr>
        <td scope="row">01-08-2021</td>
        <td>12:00</td>
        <td>PalletA size xxx</td>
        <td>จ่าย</td>
        <td>-10</td>
        <td></td>
        <td>ระบบ ILO</td>
      </tr>
      <!-- body row2 -->
      <tr>
        <td scope="row">03-08-2021</td>
        <td>13:00</td>
        <td>PalletA size xxx</td>
        <td>คืน</td>
        <td>+10</td>
        <td></td>
        <td>ระบบ IREVO</td>
      </tr>
      <!-- body row3 -->
      <tr>
        <td scope="row">13-08-2021</td>
        <td>15:00</td>
        <td>PalletA size xxx</td>
        <td>จ่าย</td>
        <td>-1</td>
        <td>ลูกค้าคืนไม่ครบ</td>
        <td>User 01</td>
      </tr>
    </tbody>
  </table>
</div>
