.word-search1 {
  font-size: 13px;
  text-align: center;
  padding-top: 9px;
}
.word-search2 {
  font-size: 12px;
  text-align: left;

}
 .name-text1 {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: inherit;
  overflow: visible;
}

.name-text1:focus {
color: #495057;
background-color: #fff;
border-color: #80bdff;
outline: 0;
box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right 0.75rem center/8px 10px no-repeat;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  appearance: none;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.custom-select {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.info-box {
  border-radius: 1rem;
  /* align-items: center; */
  /* display: flex; */
  justify-content: center;
  text-align: center;
  /* width: 50px; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  /* margin: 10px; */
  background-color: #ececec;
}

.mybtn {
  padding-left: .75cm;
  padding-right: .75cm;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.format-1 {
  padding-left: 1cm;
  padding-right: 1cm;
  padding-top: .5cm;
}

/* .mytable {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  display: table;
} */
