<app-pallet-top-bar></app-pallet-top-bar>
<div class="">
<div class="row">
  <!-- <div class="col-lg-3"> -->
    <app-pallet-search></app-pallet-search>
  <!-- </div> -->
  <!-- <div class="col-lg-3"> -->
    <!-- <app-pallet-input></app-pallet-input> -->
    <!-- <p>col2</p> -->
  <!-- </div> -->
  <!-- <div class="col-lg-6"> -->
    <!-- <app-pallet-list></app-pallet-list> -->
    <!-- <p>col3</p> -->
  <!-- </div> -->
</div>
<!-- ้<hr style="margin-left: 1cm;margin-right: 1cm;margin-bottom: .1rem;"> -->
<!-- <div class="row"></div> -->
<!-- <div class="row"> -->
 <!-- <app-pallet-table></app-pallet-table> -->
<!-- </div> -->
</div>

<router-outlet></router-outlet>
