<div class="container">
  <p>ยอดรวมภายในทั้งหมด(In Store)ภายในปี ปัจจุบัน</p>
  <!-- row 1 -->
  <div class="row">
    <!-- column 1 -->
    <div class="col word-search1 info-box" style="background-color: rgb(49, 172, 49);">
        <p>ยอดจ่ายรวม</p>
    </div>
    <!-- column 2 -->
    <div class="col word-search1 info-box" style="background-color: rgb(253, 196, 74);">
      <p>ยอดคืนรวม</p>
    </div>
    <!-- column 3 -->
    <div class="col word-search1 info-box" style="background-color: rgb(80, 212, 245);">
      <p>ยอดลูกค้าค้าง</p>
    </div>
    <!-- column 4 -->
    <div class="col word-search1 info-box" style="background-color: rgb(255, 30, 30);">
      <p>1000<br>ยอดเสีย</p>
    </div>
    <!-- column 5 -->
    <div class="col word-search1 info-box" style="background-color: rgb(117, 252, 99);">
      <p>คงเหลือรวม</p>
    </div>
  </div>
  <p>ยอดรวมเฉพาะลูกค้าที่เลือก ณ วันที่ x - y</p>
  <!-- row 2 -->
  <div class="row">
    <!-- column 1 -->
    <div class="col word-search1 info-box" style="background-color: rgb(49, 172, 49);">
      <p>ยอดจ่ายรวม</p>
  </div>
  <!-- column 2 -->
  <div class="col word-search1 info-box" style="background-color: rgb(253, 196, 74);">
    <p>ยอดคืนรวม</p>
  </div>
  <!-- column 3 -->
  <div class="col word-search1 info-box" style="background-color: rgb(80, 212, 245);">
    <p>ยอดลูกค้าค้าง</p>
  </div>
  <!-- column 4 -->
  <div class="col word-search1 info-box" style="background-color: rgb(255, 30, 30);">
    <p>1000<br>ยอดเสีย</p>
  </div>
    <div class="col word-search1"></div>
  </div>
</div>
