<div class="container info-box1">
  <!-- row 1 -->
  <div class="row">
    <!-- column 1 -->
    <div class="col-5">
      <div class="word-search1">
        <p>ชื่อลูกค้า :</p>
      </div>
    </div>
    <!-- column 2 -->
    <!-- <div class="col-auto"></div> -->
    <!-- column 3 -->
    <div class="col-6">
      <input type="text" class="name-text1 word-search2">
    </div>
  </div>

  <!-- row 2 -->
  <div class="row">
    <!-- column 1 -->
    <div class="col-5">
      <div class="word-search1">
        <p>Date From :</p>
      </div>
    </div>
    <!-- column 2 -->
    <div class="col-6">
      <!-- <input type="date" id="birthday" name="birthday"> -->
      <input type="date" class="name-text1 word-search2">
    </div>
  </div>

  <!-- row 3 -->
  <div class="row">
  <!-- column 1 -->
    <div class="col-5">
      <div class="word-search1">
        <p>Date To :</p>
      </div>
    </div>
    <!-- column 2 -->
    <div class="col-6">
      <!-- <input type="date" id="birthday" name="birthday"> -->
      <input type="date" class="name-text1 word-search2">
    </div>
  </div>

  <!-- row 4 -->
  <div class="row">
    <!-- column 1 -->
    <div class="col-5">
      <div class="word-search1">
        <p>สถานะ :</p>
      </div>
    </div>
    <!-- column 2 -->
    <div class="col-6">
      <!-- <input type="text" class="name-text1 word-search2"> -->

      <!-- ยังทำ Dropdown ไม่ได้ -->
      <select class="custom-select name-text1" >
        <option value="0"></option>
        <option value="1">จ่าย</option>
        <option value="2">คืน</option>
        <option value="3">ทั้งหมด</option>
      </select>
    </div>
  </div>

  <!-- row 5 -->
  <div class="row">
    <!-- column 1 -->
    <div class="col-5">
    </div>
    <!-- column 2 -->
    <div class="col-6">
      <br>
      <button type="button" class="btn btn-primary mybtn word-search1">ค้นหา</button>
    </div>
  </div>

</div>
